mixin fields(displayOnly, formVarName, formGroup)
    +helpers('before')
    div(layout, *ngIf='control.elementType === "layout" && isRendered(control)', [class]='control.cssClass', [control]='control', [form]=`${formVarName || 'form' }`, [displayOnly]=`${displayOnly || false}`)
    form-page(*ngIf='control.elementType === "page" && isRendered(control)', [form]=`${formVarName || 'form'}`, [control]='control')
    if formGroup
        div(*ngIf='!displayOnly && control.elementType !== "layout" && isRendered(control)', [formGroup]=`${formVarName || 'form'}`)
            +controls(formVarName)
    else
        +controls(formVarName)
    div(*ngIf='displayOnly && control.elementType !== "layout" && !control.hidden && isRendered(control)') {{#{formVarName || 'form'}.value[control.name]}}
    input(
        *ngIf='control.elementType === "submit" && isRendered(control)',
        type='submit',
        [value]=`(control.member.altText && handleButtonEvent('useAltText', ${formVarName || 'form'}, false)) ? control.member.altText : control.member.text`,
        [class]='"btn btn-" + control.member.buttonClass',
        [attr.disabled]='control.disabled ? "" : null',
        [disabled]=`control.member.customDisabledHandler ? handleButtonEvent("isDisabled", ${formVarName || 'form'}) : (control.member.disableWhenInvalid && (!${formVarName || 'form'}.valid || state.submitting))`
        )
    button(
        type='button',
        *ngIf='control.elementType === "button" && isRendered(control)',
        [class]='"btn btn-" + control.member.buttonClass + " " + control.cssClass',
        (click)=`handleButtonEvent(control.member.buttonAction, ${formVarName || 'form'})`,
        [attr.disabled]='control.disabled ? "" : null',
        [disabled]='control.member.customDisabledHandler ? handleButtonEvent("isDisabled", form) : (control.member.disableWhenInvalid && !form.valid)'
        ) {{(control.member.altText && handleButtonEvent('useAltText', #{formVarName || 'form'}, false)) ? control.member.altText : control.member.text}}
    +helpers('after')


mixin controls(formVarName)
    dyn-field(*ngIf='control.elementType === "control" && isRendered(control)', [control]='control', [form]=`${formVarName || 'form'}`, [formControlName]='control.name')
    dyn-field(*ngIf='control.elementType === "array" && isRendered(control)',   [control]='control', [form]=`${formVarName || 'form'}`, [formArrayName]='control.name')


mixin helpers(position, controlVar)
    ng-template(ngFor let-helper [ngForOf]=`${controlVar || 'control'}.member.helpers | position:'${position}'`)
        p(*ngIf=`isRendered(${controlVar || 'control'})`, [class]='"helper " + (helper.cssClass || "")', [innerHTML]='helper.text')