mixin fields(displayOnly = false, formVarName = 'form', formGroup = false, controlVarName = 'control')
    layout(*ngIf=`${controlVarName}.elementType === 'layout' && isRendered(${controlVarName})`, [class]=`${controlVarName}.cssClass`, [control]=`${controlVarName}`, [form]=`${formVarName}`, [displayOnly]=`${displayOnly}`)
    form-page-root(*ngIf=`(${controlVarName}.elementType === 'page' || ${controlVarName}.elementType === 'pageRoot') && isRendered(${controlVarName})`, [form]=`${formVarName}`, [control]=`${controlVarName}`)
    if formGroup
        span(*ngIf=`!displayOnly && ${controlVarName}.elementType !== 'layout' && isRendered(${controlVarName})`, [formGroup]=`${formVarName}`)
            +controls(formVarName, controlVarName)
    else
        +controls(formVarName, controlVarName)
    ng-container(*ngIf=`displayOnly && ${controlVarName}.elementType !== 'layout' && !${controlVarName}.hidden && isRendered(${controlVarName})`)
        | {{#{controlVarName}.name && #{formVarName}.controls[#{controlVarName}.name] && #{formVarName}.controls[#{controlVarName}.name].displayValue || #{formVarName}.value[#{controlVarName}.name]}}
    input(
        *ngIf=`${controlVarName}.elementType === 'submit' && isRendered(${controlVarName})`,
        type='submit',
        [value]=`getText(${controlVarName}.text)`,
        [class]=`'btn btn-' + ${controlVarName}.member.buttonClass`,
        [attr.disabled]=`${controlVarName}.disabled ? '' : null`,
        [disabled]=`isDisabled(${controlVarName})`
    )
    button(
        type='button',
        *ngIf=`${controlVarName}.elementType === 'button' && isRendered(${controlVarName})`,
        [class]=`'btn btn-' + ${controlVarName}.member.buttonClass + ' ' + ${controlVarName}.cssClass`,
        (click)=`handleBehavior(${controlVarName}.member.buttonAction, ${formVarName})`,
        [attr.disabled]=`${controlVarName}.disabled ? '' : null`,
        [disabled]=`isDisabled(${controlVarName})`
        ) {{getText(#{controlVarName}.text)}}


mixin controls(formVarName, controlVarName = 'control')
    dyn-field.form-group(*ngIf=`${controlVarName}.elementType === 'control' && isRendered(${controlVarName})`, [control]=`${controlVarName}`, [form]=`${formVarName}`, [formControlName]=`${controlVarName}.name`)
    dyn-field.form-group(*ngIf=`${controlVarName}.elementType === 'array' && isRendered(${controlVarName})`, [control]=`${controlVarName}`, [form]=`${formVarName}`, [formArrayName]=`${controlVarName}.name`)

mixin helpers(position, controlVarName = 'control')
    ng-template(ngFor let-helper [ngForOf]=`${controlVarName}.member.helpers | position:'${position}'`)
        p(*ngIf=`isRendered(${controlVarName}) && isRendered(helper)`, [class]='"helper " + (helper.cssClass || "")', [innerHTML]='helper.text')